In [1]:
import numpy as np
from bokeh.sampledata.gapminder import (fertility, life_expectancy,
                                            population, regions)

In [2]:
type(fertility)

pandas.core.frame.DataFrame

In [3]:
fertility.head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,...,7.136,6.930,6.702,6.456,6.196,5.928,5.659,5.395,5.141,4.900
Albania,5.711,5.594,5.483,5.376,5.268,5.160,5.050,4.933,4.809,4.677,...,2.004,1.919,1.849,1.796,1.761,1.744,1.741,1.748,1.760,1.771
Algeria,7.653,7.655,7.657,7.658,7.657,7.652,7.641,7.622,7.591,7.548,...,2.448,2.507,2.580,2.656,2.725,2.781,2.817,2.829,2.820,2.795
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
life_expectancy.head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.639,34.152,34.662,35.170,35.674,36.172,36.663,37.143,37.614,38.075,...,56.583,57.071,57.582,58.102,58.618,59.124,59.612,60.079,60.524,60.947
Albania,65.475,65.863,66.122,66.316,66.500,66.702,66.948,67.251,67.595,67.966,...,75.725,75.949,76.124,76.278,76.433,76.598,76.780,76.979,77.185,77.392
Algeria,47.953,48.389,48.806,49.205,49.592,49.976,50.366,50.767,51.195,51.670,...,69.682,69.854,70.020,70.180,70.332,70.477,70.615,70.747,70.874,71.000
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
population.head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,10474903.0,10697983.0,10927724.0,11163656.0,11411022.0,11676990.0,11964906.0,12273101.0,12593688.0,12915499.0,...,26693486.0,27614718.0,28420974.0,29145841.0,29839994.0,30577756.0,31411743.0,32358260.0,33397058.0,34499915.0
Albania,1817098.0,1869942.0,1922993.0,1976140.0,2029314.0,2082474.0,2135599.0,2188650.0,2241623.0,2294578.0,...,3124861.0,3141800.0,3156607.0,3169665.0,3181397.0,3192723.0,3204284.0,3215988.0,3227373.0,3238316.0
Algeria,11654905.0,11923002.0,12229853.0,12572629.0,12945462.0,13338918.0,13746185.0,14165889.0,14600659.0,15052371.0,...,32396048.0,32888449.0,33391954.0,33906605.0,34428028.0,34950168.0,35468208.0,35980193.0,36485828.0,36983924.0
American Samoa,22672.0,23480.0,24283.0,25087.0,25869.0,26608.0,27288.0,27907.0,28470.0,28983.0,...,61871.0,62962.0,64045.0,65130.0,66217.0,67312.0,68420.0,69543.0,70680.0,71834.0
Andorra,17438.0,18529.0,19640.0,20772.0,21931.0,23127.0,24364.0,25656.0,26997.0,28357.0,...,75292.0,77888.0,79874.0,81390.0,82577.0,83677.0,84864.0,86165.0,87518.0,88909.0

In [6]:
regions.head()

                           Group  ID
Country
Angola        Sub-Saharan Africa  AO
Benin         Sub-Saharan Africa  BJ
Botswana      Sub-Saharan Africa  BW
Burkina Faso  Sub-Saharan Africa  BF
Burundi       Sub-Saharan Africa  BI

In [7]:
fertility.columns

Index(['1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013'],
      dtype='object')

In [8]:
columns=list(fertility.columns)
columns

['1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [9]:
range(int(columns[0]), int(columns[-1]))

range(1964, 2013)

In [10]:
years=list(range(int(columns[0]), int(columns[-1])))
years

[1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012]

In [11]:
zip(['a', "b", "c"], [1,2,3])

In [12]:
dict(zip(['a', "b", "c"], [1,2,3]))

{'a': 1, 'b': 2, 'c': 3}

In [13]:
rename_dict=dict(zip(columns, years))
rename_dict

{'1964': 1964,
 '1965': 1965,
 '1966': 1966,
 '1967': 1967,
 '1968': 1968,
 '1969': 1969,
 '1970': 1970,
 '1971': 1971,
 '1972': 1972,
 '1973': 1973,
 '1974': 1974,
 '1975': 1975,
 '1976': 1976,
 '1977': 1977,
 '1978': 1978,
 '1979': 1979,
 '1980': 1980,
 '1981': 1981,
 '1982': 1982,
 '1983': 1983,
 '1984': 1984,
 '1985': 1985,
 '1986': 1986,
 '1987': 1987,
 '1988': 1988,
 '1989': 1989,
 '1990': 1990,
 '1991': 1991,
 '1992': 1992,
 '1993': 1993,
 '1994': 1994,
 '1995': 1995,
 '1996': 1996,
 '1997': 1997,
 '1998': 1998,
 '1999': 1999,
 '2000': 2000,
 '2001': 2001,
 '2002': 2002,
 '2003': 2003,
 '2004': 2004,
 '2005': 2005,
 '2006': 2006,
 '2007': 2007,
 '2008': 2008,
 '2009': 2009,
 '2010': 2010,
 '2011': 2011,
 '2012': 2012}

In [14]:
fertility=fertility.rename(columns=rename_dict)

In [15]:
life_expectancy = life_expectancy.rename(columns=rename_dict)
population = population.rename(columns=rename_dict)
regions = regions.rename(columns=rename_dict)

In [16]:
regions_list = list(regions.Group.unique())
regions_list

['Sub-Saharan Africa',
 'South Asia',
 'Middle East & North Africa',
 'America',
 'Europe & Central Asia',
 'East Asia & Pacific']

In [17]:
 # Turn population into bubble sizes. Use min_size and factor to tweak.
scale_factor = 200
population_size = np.sqrt(population / np.pi) / scale_factor
population_size.head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9.129985,9.226692,9.325238,9.425367,9.529220,9.639633,9.757751,9.882623,10.010863,10.137962,...,14.574636,14.823999,15.038847,15.229420,15.409709,15.599040,15.810335,16.046771,16.302311,16.569297
Albania,3.802632,3.857528,3.911866,3.965554,4.018553,4.070848,4.122445,4.173335,4.223538,4.273134,...,4.986668,5.000165,5.011934,5.022290,5.031576,5.040524,5.049642,5.058856,5.067802,5.076387
Algeria,9.630513,9.740649,9.865195,10.002490,10.149715,10.302802,10.458904,10.617371,10.779070,10.944540,...,16.056138,16.177700,16.301065,16.426204,16.552025,16.677068,16.800209,16.921031,17.039513,17.155428
American Samoa,0.424756,0.432259,0.439588,0.446806,0.453717,0.460152,0.465995,0.471250,0.475980,0.480249,...,0.701679,0.707839,0.713900,0.719922,0.725905,0.731882,0.737881,0.743912,0.749969,0.756067
Andorra,0.372515,0.383991,0.395335,0.406569,0.417758,0.428997,0.440321,0.451845,0.463503,0.475035,...,0.774051,0.787282,0.797256,0.804786,0.810634,0.816015,0.821782,0.828058,0.834533,0.841139

In [19]:
min_size=3
population_size.where(population_size >= min_size).head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9.129985,9.226692,9.325238,9.425367,9.529220,9.639633,9.757751,9.882623,10.010863,10.137962,...,14.574636,14.823999,15.038847,15.229420,15.409709,15.599040,15.810335,16.046771,16.302311,16.569297
Albania,3.802632,3.857528,3.911866,3.965554,4.018553,4.070848,4.122445,4.173335,4.223538,4.273134,...,4.986668,5.000165,5.011934,5.022290,5.031576,5.040524,5.049642,5.058856,5.067802,5.076387
Algeria,9.630513,9.740649,9.865195,10.002490,10.149715,10.302802,10.458904,10.617371,10.779070,10.944540,...,16.056138,16.177700,16.301065,16.426204,16.552025,16.677068,16.800209,16.921031,17.039513,17.155428
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
population_size = population_size.where(population_size >= min_size)\
.fillna(min_size)
population_size.head()

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9.129985,9.226692,9.325238,9.425367,9.529220,9.639633,9.757751,9.882623,10.010863,10.137962,...,14.574636,14.823999,15.038847,15.229420,15.409709,15.599040,15.810335,16.046771,16.302311,16.569297
Albania,3.802632,3.857528,3.911866,3.965554,4.018553,4.070848,4.122445,4.173335,4.223538,4.273134,...,4.986668,5.000165,5.011934,5.022290,5.031576,5.040524,5.049642,5.058856,5.067802,5.076387
Algeria,9.630513,9.740649,9.865195,10.002490,10.149715,10.302802,10.458904,10.617371,10.779070,10.944540,...,16.056138,16.177700,16.301065,16.426204,16.552025,16.677068,16.800209,16.921031,17.039513,17.155428
American Samoa,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
Andorra,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000

In [21]:
import pandas as pd

from bokeh.io import curdoc, output_notebook, show
from bokeh.layouts import layout
from bokeh.models import (Button, CategoricalColorMapper, ColumnDataSource,
                          HoverTool, Label, SingleIntervalTicker, Slider)
from bokeh.palettes import Spectral6
from bokeh.plotting import figure

In [25]:
output_notebook()

In [23]:
df = pd.concat({'fertility': fertility,
                'life': life_expectancy,
                'population': population_size},
               axis=1)
df.head()

               fertility                                                   \
                    1964   1965   1966   1967   1968   1969   1970   1971
Country
Afghanistan        7.671  7.671  7.671  7.671  7.671  7.671  7.671  7.671
Albania            5.711  5.594  5.483  5.376  5.268  5.160  5.050  4.933
Algeria            7.653  7.655  7.657  7.658  7.657  7.652  7.641  7.622
American Samoa       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Andorra              NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

                              ... population                                   \
                 1972   1973  ...       2004       2005       2006       2007
Country                       ...
Afghanistan     7.671  7.671  ...  14.574636  14.823999  15.038847  15.229420
Albania         4.809  4.677  ...   4.986668   5.000165   5.011934   5.022290
Algeria         7.591  7.548  ...  16.056138  16.177700  16.301065  16.426204
American Samoa    NaN    NaN  ...   3.000000   3.000000   3.000000   3.000000
Andorra           NaN    NaN  ...   3.000000   3.000000   3.000000   3.000000

                                                                       \
                     2008       2009       2010       2011       2012
Country
Afghanistan     15.409709  15.599040  15.810335  16.046771  16.302311
Albania          5.031576   5.040524   5.049642   5.058856   5.067802
Algeria         16.552025  16.677068  16.800209  16.921031  17.039513
American Samoa   3.000000   3.000000   3.000000   3.000000   3.000000
Andorra          3.000000   3.000000   3.000000   3.000000   3.000000


                     2013
Country
Afghanistan     16.569297
Albania          5.076387
Algeria         17.155428
American Samoa   3.000000
Andorra          3.000000

[5 rows x 150 columns]

In [24]:
df.columns

MultiIndex([( 'fertility',   1964),
            ( 'fertility',   1965),
            ( 'fertility',   1966),
            ( 'fertility',   1967),
            ( 'fertility',   1968),
            ( 'fertility',   1969),
            ( 'fertility',   1970),
            ( 'fertility',   1971),
            ( 'fertility',   1972),
            ( 'fertility',   1973),
            ...
            ('population',   2004),
            ('population',   2005),
            ('population',   2006),
            ('population',   2007),
            ('population',   2008),
            ('population',   2009),
            ('population',   2010),
            ('population',   2011),
            ('population',   2012),
            ('population', '2013')],
           length=150)