### [Automation Tools for Excel Users](https://towardsdatascience.com/use-python-to-design-automation-tools-for-excel-users-e824b37c646d)

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("data/store-item-train.csv")
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [5]:
df.shape

(913000, 4)

In [16]:
print("{:,} transactions in your raw data".format(len(df)))

913,000 transactions in your raw data